body {
  --dropdown-border-color: #{$headline};
  --dropdown-background-color: #fff;
  --modal-border-color: hsl(240deg, 25%, 88%);
  --modal-background-color: var(--background-color-tint);
  --background-border-color: #{$headline};
  --background-color: ligthen($background, 5%);
  --background-color-tint: rgba(255, 255, 255, 80%);
  --background-filter: blur(10px);
  --on-surface-color: #{transparentize($ui-base-color, 0.65)};
}

// Button is blurple for some reason.
button.button {
  background-color: $brown-highlight !important;
}

button.button:hover {
  background-color: $brown-dark !important;
}

// Fix textarea color, which is too light by default.
.compose-form .autosuggest-textarea__textarea {
  color: $classic-base-color;
}
