// Make modals dark instead of light
.boost-modal,
.confirmation-modal,
.report-modal,
.actions-modal,
.mute-modal,
.block-modal,
.compare-history-modal {
  background-color: $bg-dark !important;
}
.boost-modal__action-bar,
.confirmation-modal__action-bar,
.mute-modal__action-bar,
.block-modal__action-bar {
  background-color: $bg-darker !important;
}
// Report modal has special styling.
.report-dialog-modal {
  background-color: $bg-darker !important;
    &__container {
      border-top-color: $bg-dark !important;
    }
}

// Emoji picker is also light by default and we don't want light
.emoji-mart-anchor {
  &:hover {
    color: $bg-dark !important;
  }
}

// Autosuggestions must be dark, everything must be dark
.autosuggest-textarea__suggestions {
  background-color: $bg-darker !important;
}
.autosuggest-textarea__suggestions__item {
  &:hover,
  &:focus,
  &:active,
  &.selected {
    background: $bg-dark !important;
  }
}

// Compose form warnings.
.compose-form__warning {
  background-color: $bg-dark !important;
  color: $action-soft !important;
}
.reply-indicator {
  background-color: $bg-dark !important;
}

// "Show more" button is too light, force darker text.
.status__content__spoiler-link {
  color: $bg-darker !important;
}

// Post privacy hover/active has highlight background, and we want dark text over that.
.privacy-dropdown__option {
  &:hover,
  &.active {
    color: $bg-darker !important;
  }
}

// Darker text for selected item in admin UI
.simple-navigation-active-leaf a {
  color: $bg-darker !important;
}

// Espresso theme de-inverts inverted colors in masto, as well as simple-background.
// Change border of inputs to match.
input[type="text"], select {
  border-color: $action !important;
}

// Alt text textarea is hardcoded to white
.setting-text {
  background-color: $bg-darker !important;
}

// Notification bar is hardcoded to blurple (v4.2.0+)
.notification-bar-action {
  color: $highlight !important;
}

// Mastodon derives extra colors using lighten() for relevant items,
// which doesn't produce a great palette.
.drawer__inner,
.drawer__inner__mastodon,
.drawer__header {
  background-color: $bg-highlight !important;
}

// In the deck interface _only_, column links have background, which sucks. Remove that.
.column-link {
  background-color: transparent !important;
  &:hover {
    background-color: $bg-dark !important;
  }
}
