// Buttons in the compose form have a light background, so they don't look nice in a light color.
.character-counter,
.compose-form__buttons > button,
.compose-form__buttons > div > button,
.compose-form__buttons > div > div > button,
.compose-form__buttons > div > div > div > button {
  color: $ui-base-color !important;
}

// Show mascot in full size.
.drawer__inner__mastodon > img {
  width: 100% !important;
}

// $ui-primary-color is too bright to work well.
.reply-indicator {
  a {
    color: $dark-text-color !important;
  }
}

// Make dropdown menu lighter
.dropdown-menu {
  background: $ui-primary-color;
}
.dropdown-menu__separator {
  border-bottom: 1px solid darken($ui-primary-color, 8%)
}
.dropdown-menu__item {
  a,
  button {
    background: $ui-primary-color;

    &:focus,
    &:hover,
    &:active {
      background: $ui-highlight-color;
      color: inherit;
    }
  }
}
