// Commonly used web colors
$black: #000000;            // Black
$white: #ffffff;            // White
$success-green: #79bd9a !default;    // Padua
$error-red: #df405a !default;        // Cerise
$warning-red: #ff5050 !default;      // Sunset Orange

$red-bookmark: $warning-red;

// Values from the classic Mastodon UI
// Copied here for reference only
$classic-base-color: #282c37;         // Midnight Express
$classic-primary-color: #9baec8;      // Echo Blue
$classic-secondary-color: #d9e1e8;    // Pattens Blue
$classic-highlight-color: #6364ff;    // Brand purple

// owo.cafe overrides
// Ref'd from https://i.pinimg.com/originals/85/ea/6d/85ea6da82ab5346a44504bc9c442699b.jpg
$success-green: #6d7e5e !default;
$classic-base-color: #170c06;
$classic-primary-color: #debb93;
$classic-secondary-color: #a18466;
$classic-highlight-color: #ca8f04; // Copper // TODO: Kiara to find a better color

$gold-star: $classic-highlight-color !default;        // Dark Goldenrod

// Variables for defaults in UI
$base-shadow-color: $black !default;
$base-overlay-background: $black !default;
$base-border-color: $white !default;
$simple-background-color: lighten($classic-primary-color, 15%) !default;
$valid-value-color: $success-green !default;
$error-value-color: $error-red !default;

// Tell UI to use selected colors
$ui-base-color: $classic-base-color !default;                  // Darkest
$ui-base-lighter-color: $classic-secondary-color !default;
$ui-base-lighter-color: $classic-secondary-color !default;
$ui-primary-color: $classic-primary-color !default;            // Lighter
$ui-secondary-color: $classic-secondary-color !default;        // Lightest
$ui-highlight-color: $classic-highlight-color !default;

$column-header-bg-color: #665b55;

// Variables for texts
$primary-text-color: #fff4e6 !default;
// Ref BLUE
// Color of very secondary text
$dark-text-color: #665b55 !default;
// Ref GREEN
// Color of top bar buttons, and inactive menus
$darker-text-color: $classic-secondary-color !default;
// Ref RED
// Color of handles
$secondary-text-color: $classic-primary-color !default;
$highlight-text-color: $classic-highlight-color !default;
// Color of reply-repost-fav
$action-button-color: $classic-secondary-color !default;
$passive-text-color: $gold-star !default;
$active-passive-text-color: $success-green !default;

// For texts on inverted backgrounds
$inverted-text-color: $ui-base-color !default;
$lighter-text-color: $ui-base-lighter-color !default;
$light-text-color: $ui-primary-color !default;

// Language codes that uses CJK fonts
$cjk-langs: ja, ko, zh-CN, zh-HK, zh-TW;

// Variables for components
$media-modal-media-max-width: 100%;

// put margins on top and bottom of image to avoid the screen covered by image.
$media-modal-media-max-height: 80%;

$no-gap-breakpoint: 1175px;

$font-sans-serif: 'mastodon-font-sans-serif' !default;
$font-display: 'mastodon-font-display' !default;
$font-monospace: 'mastodon-font-monospace' !default;
