name: Build image

on:
  pull_request:

jobs:
  build:
    name: Build image
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build
        uses: docker/build-push-action@v6
        with:
          tags: |
            ${{ github.repository }}:ci
          cache-from: type=gha
          cache-to: type=gha,mode=max
